<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="home">
  <div>
    <h1 class="heading">{{ heading }}</h1>
  </div>
  <div>
    <h2 class="name">{{ name }}</h2>
  </div>
  <img src="assets/justme.jpg" alt="justme" />
  <div>
    <img src="assets/angularlogo.png" alt="angular logo" />
    <p class="angular">{{ angular }}</p>
  </div>
  <div>
    <img src="assets/csharplogo.png" alt="c sharp" />
    <p class="csharp">{{ csharp }}</p>
  </div>
  <div>
    <img src="assets/javascriptlogo.png" alt="javascript" />
    <p class="javascript">{{ javascript }}</p>
  </div>
  <div>
    <img src="assets/htmllogo.png" alt="html" />
    <p class="html">{{ html }}</p>
  </div>
  <div>
    <img src="assets/csslogo.png" alt="css" />
    <p class="css">{{ css }}</p>
  </div>
  <div>
    <img src="assets/bootstraplogo.png" alt="bootstrap" />
    <p class="bootstrap">{{ bootstrap }}</p>
  </div>
</div>
