<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
<div class="about">

    <br>
    <h1 class="aboutMe">{{ aboutMe }}</h1>
    <br>
    <p class="statement">{{ statement }}</p>
    <br>
    <a class="contactme" href="https://mail.google.com"  target="_blank">{{ contactme }}</a>
    <br><br>
    <a class="contactme2" href="https://github.com/Snance1985" target="blank"> {{ contactme2 }}</a>
    <br><br>
    <a class="contactme3" href="https://www.linkedin.com/in/sean-nance/" target="blank"> {{ contactme3 }}</a>
</div>